.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: lightgreen;
  padding: 10px;
}
.container div {
  background-color: greenyellow;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
header{
    color: black;
    background-color: lightgreen;
    padding: 35px;
    font-size: 35px;
    text-align: left;
    width: auto;

}
nav{
    background-color: lightgreen;
    text-align: right;
}
a:link{
    color: black;
}
body{
    background-color: greenyellow;
    color: black;
    text-align: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: greenyellow;
}
li a {
  display: block;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
}
li a:hover {
  background-color: lightgreen;
  color: white;
}