
header{
    color: black;
    background-color: lightgreen;
    padding: 35px;
    font-size: 35px;
    text-align: left;
    width: auto;

}
nav{
    background-color: lightgreen;
    text-align: right;
}
a:link{
    color: black;
}
body{
    background-color: greenyellow;
    color: black;
    text-align: center;

}
img{
    align-self: center;
    width: 500px;
}