
header{
    color: black;
    background-color: #606C38;
    padding: 35px;
    font-size: 35px;
    text-align: left;
    
    

}
p{
  text-align: center;
    color: black;
}
nav{
    background-color: #606C38;
    text-align: right;
    
    left: 0%;
    top: 0%;
    width: 100%;
  }
a:link{
    color: black;
}
body{
    background-color: Cornsilk;
    color: black;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
  background-color:#283618 ;
  height: 100px;
  width: 100%;
  position:fixed ;
  left: 0%;
  bottom: 0%;
}
img{
    align-self: center;
    width: 500px;
    display: block;
    width: 100%;
    height: auto;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: cornsilk;
  color: black;
  transform: rotateY(180deg);
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornsilk;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {

  background-color: #606C38;
}




