
header{
    color: black;
    background-color: lightgreen;
    padding: 35px;
    font-size: 35px;
    text-align: left;
    width: auto;

}
nav{
    background-color: lightgreen;
    text-align: right;
}
a:link{
    color: black;
}
body{
    background-color: greenyellow;
    color: black;
    text-align: center;

}
img{
    align-self: center;
    width: 500px;
    display: block;
    width: 100%;
    height: auto;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
